<!DOCTYPE html>
<html>

<head>
	<title>Reversi Game</title>
	<link rel="stylesheet" type="text/css" href="./style.css"/>
</head>


<body>
<div id="app" v-cloak>

	<p>
		Current turn: {{ state.turn.piece == 'W' ? 'White' : 'Black' }}'s move
	</p>

	<p>Black: {{ state.blackScore }} | White: {{ state.whiteScore }}</p>

	<p v-if="state.tipMove">
		Tip: Row {{ state.tipMove.x }} Col {{ state.tipMove.y }}</p>
	</p>

	<p>
		<button @click="reset()">Reset</button>
		<button @click="undo()" :disabled="history.length === 0">Undo</button>
		<button @click="toggleMode()">
			{{ mode === "AI" ? "Play against a friend" : "Play against AI" }}
		</button>
	</p>



	<!-- Board -->
	<div id="flex">
		<table>
			<tr v-for="(row, rowKey, index) in state.board" :key="rowKey">
				<td 
					v-for="(col, colKey, index) in row" 
					:key="colKey" 
					:class="col ? 'piece-' + col : isAnAvailableMove(rowKey, colKey)? 'possible-move': '' "
					@click="click(rowKey, colKey)"
				>
				</td>
			</tr>
		</table>
	</div>
</div>


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="./script.js"></script>

</body>

</html>